@font-face{
  font-family: "Pixelify Sans";
  src:local("PixelifySans-Regular.ttf"),
  url('./assets/fonts/PressStart2P-Regular.ttf') 
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Press Start 2P", "Pixelify Sans", "Doto", "Sixtyfour", monospace;
  color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}
