
.furyoku-bar {
  height: 100%;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  border-radius: 4px;
  background: #00000033;
}

.furyoku-fill {
  border-radius: 4px;
  background-color: #944f8f;
}